
<link rel="stylesheet" href="/styles/adminPanel.css">
<div class="admin-panel-container">

    <div class="admin-panel-wrapper">

        <div class="admin-panel-title">
                <h1>Welcome Name</h1>
        </div>

        <div class="admin-panel-button">
       <button> <a  style=" color: white; text-decoration: none;" href="/owner/createProduct">Add Products </a></button>
        <button> <a  style=" color: white; text-decoration: none;" href="/owner/products">All Products </a></button>
        </div>
        
    </div>
</div>