<%- include('navbar.ejs') %>
<link rel="stylesheet" href="/styles/home.css">
<div class="slider-container">

</div>

<div class="home-collections">
    <h1>New Arrivals</h1>

</div>

<div class="home-new-products">

    <div >

    </div>
    <div >

    </div>
    <div >

    </div>
    <div >

    </div>

</div>

<div class="home-shop-all-container">
<div class="home-shop-all-wrapper">

    <p>See All Collections</p>
    <a href="/shop"><button >Shop All</button></a>

</div>

</div>

<%- include('footer.ejs') %>