<%- include('navbar.ejs') %>

<link rel="stylesheet" href="/styles/signup.css" />
<div class="signup-container">
  <div class="signup-wrapper">
    <div class="create-account">
      <h2>Welcome to Fashion</h2>
      <h3>Create your account</h3>
      <form action="/user/register" method="post">
        <input type="text" placeholder="name"  name="name"/>
        <input type="email" placeholder="email" name="email" />
        <input type="tel" placeholder="Phone" name="phone" />
        <input type="password" placeholder="Password" name="password" />
        <button type="submit">Create my Account</button>
      </form>
    </div>

    <div class="or-section">
      <p>OR</p>
    </div>

    <div class="log-in">
      <h1>Log-In</h1>
      <form action="/user/login" method="post">
        <input type="email" placeholder="email" name="email" />
        <input type="password" placeholder="Password" name="password"/>
        <button type="submit">Log me in</button>
      </form>
    </div>
  </div>
</div>

<%- include('footer.ejs') %>
