*{
    font-family: cursive;
}
.createProduct-Container{
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;

}

.createProduct-wrapper{
    padding: 10px;
    width: 50%;
}

.createProduct-wrapper form{
    border:0.2px solid ;
    padding: 10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 5px;


}
.createProduct-wrapper form input{
    width: 60%;
    height: 45px;
    margin: 5px;
    border-radius: 5px;

}
.createProduct-wrapper form button{
    width: 40%;
    height: 45px;
    margin-top: 45px;
    background-color: rgb(137, 105, 105);
    font-size: larger;
    color: whitesmoke;
    border-radius: 5px;
    cursor:pointer;
}